astroid==2.2.5
click==7.1.2
colorama==0.4.1
Flask==1.1.2
gunicorn==20.1.0
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.20.2
pandas==1.2.4
pylint==2.3.1
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.12.0
sklearn==0.0
threadpoolctl==2.1.0
# typed-ast==1.4.0
Werkzeug==1.0.1
wrapt==1.11.1
